body{color:blue; background-color: darkgrey; }
div{color:black; text-align: center;}
#welcome{text-align: center; background-color: ;}
#link{border: solid 4px black; border-radius: 7px; padding: 10px;}
#thanks{font-family: 'Great Vibes',owcursive;}
